<nav class="navbar navbar-dark">
  <span class="navbar-brand mb-0 h1 center">Tweet App</span>
</nav>
<div class="container" style="margin-top:30px">
  <div class="card mb w-50 mx-auto my-auto">
    <div>
      <div><img src="../../../../assets/images/forgot-pass.png"
          style="max-width: 8rem;margin-left: 10px;margin-top: 10px;"></div>
      <div>
        <h1 class="text-blue mx-auto my-auto" style="text-align: center;color:#44324d;">Change Password</h1>
      </div>
    </div>

    <hr>
    <div class="card-body align-middle w-100">
      <form ngNativeValidate (ngSubmit)="changePassword()">

        <div class="form-row">
          <div class="form-group col-md">
            <label for="exampleInputEmail1">Email Id</label>
            <input type="text" (blur)="onpass()" class="form-control" name="userId" id="userId" [(ngModel)]="userId"
              required>
          </div>
          <div class="form-group col-md">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" (blur)="onpass()" class="form-control" name="password" id="password"
              [(ngModel)]="password" required>
          </div>
          <div class="form-group col-md">
            <label for="exampleInputEmail1">Confirm Password</label>
            <input type="password" class="form-control" (blur)="onCheckPassword()" name="confirmPassword"
              id="confirmPassword" [(ngModel)]="confirmPassword" required>
            <small *ngIf="isPassword" style="color: red;">Retype correct password</small>
          </div>

        </div>
        <br>


        <button type="submit" *ngIf='validForm' class="btn"
          style="background-color:#44324d;color:white;margin-left: 200px;">Change Password</button>
        <button type="submit" *ngIf='!validForm' class="btn"
          style="background-color:#44324d;color:white;margin-left: 200px;" disabled>Change Password</button>
      </form>
      <hr>
      <small *ngIf="isPasswordChanged" style="color: green;">Password Changed Successfully!</small>
      <a style="margin-left: 220px;" href="#">Login here !</a>
    </div>

  </div>

</div>
<!-- <app-footer></app-footer> -->